<section
  class="bg-[url('/images/hero-background.jpg')] h-screen w-full bg-cover bg-right md:bg-center sm:bg-left flex items-center justify-center mask-fade-button relative"
>
  <!-- Logo en la parte superior -->
  <div
    class="absolute left-1/2 transform -translate-x-1/2 top-8 mask-fade-button animate-zoom-in"
  >
    <a href="/" class="block">
      <img src="/images/logo-cai.png" alt="Logo" class="h-56 w-auto" />
    </a>
  </div>

  <div class="container mx-auto px-4 text-center">
    <h1 class="text-5xl md:text-8xl font-bold mb-6 text-white">
      Academia de Futbol CAI
    </h1>
    <p class="text-3xl md:text-5xl font-medium text-yellow-500 mb-8">
      Forjando Campeones
    </p>
    <a
      href="/programas"
      class="inline-block bg-yellow-500 hover:bg-yellow-700 text-black font-bold py-3 px-8 rounded-lg transition-colors duration-300"
    >
      Ver Programas
    </a>
  </div>
</section>
